*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 1000px;
    background: url(../pics/bg-body.jpg); 
    background-size: cover;
}

#header {
    height: 300px;
    background: url(../pics/bg-header.jpg);
}