@import url('https://fonts.googleapis.com/css2?family=Raleway,wght@0,400;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background: url(../pics/bg-body.jpg) no-repeat; 
    background-size: cover;
}

#header {
    height: 255px;
    background: url(../pics/bg-header.jpg);   
}
#container{
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: -80px;
}
#header h1{
    color: #fff;
    font-size: 4rem;
    padding: 90px 40px 10px 40px;
}
#main{
    background-color: #333030;
}
#main::after, p::after, footer p::after {
    content: "";
    clear: both;
    display: table;
}

#nav {
    width: 19.9999999%;
    float: left;
}

#content{
    width: 79.9999999%;
    float: left;
    background-color: #fff;
    padding: 30px 25px;
}

#nav ul{
    list-style-type: none;
    padding: 30px 20px; 
}
#nav ul li{
    border-bottom: 1px dashed #fff;
}
#nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
    display: block;
}
#nav a:hover{
    padding-left: 15px;
    background-color: rgba(255,255,255,0.2);
}
.right{
    float: right;
    margin-left: 10px;
}
.left{
    float: left; 
    margin-right: 15px; 
}
#content h2 span{
    margin: 15px 0;
    font-size: 3rem;
    font-weight: bold;
    background-color: green;
    line-height: 1.3;
    border-left: 10px solid green;
    border-right: 10px solid green;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
     box-decoration-break: clone;
     color: #fff;
}
#content p {
    padding-bottom: 15px;
}
#footer{
    padding: 20px 0;
    margin-bottom: 20px;
}
#footer p {
    float: left;
}
#footer li {
    list-style-type: none;
    float: right;
}
#footer a {
    text-decoration: underline;
    color: #000;   
}
#footer span::before, #footer span::after {
    content: "\00a0";
}
