@import url('https://fonts.googleapis.com/css2?family=Raleway,wght@0,400;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background: url(../pics/bg-body.jpg) no-repeat; 
    background-size: cover;
}

#header {
    height: 255px;
    background: url(../pics/bg-header.jpg);
}

#container{
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

#header h1{
    color: #fff;
    font-size: 4rem;
    padding: 10px 40px;
}

